<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../lib/data.html %>
</head>
<body>

<script>
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("POST",'/login',true);
  xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");  
  xmlHttp.send('username=1&password=1&_csrf='+window._DATA._csrf);
</script>
</body>
</html>