<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <% include ../lib/data.html %>
</head>
<body>
  <form action="login" method="POST">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="hidden" name="memberMe" value="1"/>
    <input id="token" name="_csrf" type="hidden"/>
    <input type="submit"/>
  </form>
  <script>
    document.getElementById("token").value=window._DATA._csrf;
  </script>
</body>
</html>