<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <script>
        function getList(){
            $.ajax({
                url:"http://localhost:8081/cms/fetchSubjectList",
                method:"GET",
                dataType:'json',
                xhrFields: {
                    withCredentials: true
                },
                contentType:"application/json;charset=UTF-8"
            }).then(function(data){
                console.log(data)
            })
        }
        getList();
    </script>
</body>
</html>

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>cms主页</title>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="http://mykrystal.com/static/cms/index.css">
    <!-- <script src="http://libs.cdnjs.net/codemirror/5.9.0/codemirror.min.js"></script>
    <script src="http://libs.cdnjs.net/codemirror/5.9.0/keymap/sublime.min.js"></script>
    <link rel="stylesheet" href="http://libs.cdnjs.net/codemirror/5.9.0/codemirror.min.css"> -->
    <!-- <link href="https://cdn.bootcss.com/codemirror/5.29.0/theme/monokai.css" rel="stylesheet"> -->
  
    <link rel="stylesheet" href="http://mykrystal.com/code/codemirror.css">
    <link rel="stylesheet" href="http://mykrystal.com/code/monokai.css">
    <link rel="stylesheet" href="http://mykrystal.com/code/foldgutter.css">
    <link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.css" rel="stylesheet">
    <script src="http://mykrystal.com/code/codemirror.js"></script>
    <script src="http://mykrystal.com/code/sublime.js"></script>
    <% include .http://mykrystal.com/.http://mykrystal.com/lib/data.html %>
</head>
<body>
<div id="app"></div>


<script type="text/javascript" src="http://mykrystal.com/static/cms/vendor.js"></script>
<script type="text/javascript" src="http://mykrystal.com/static/cms/index.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
</html>
