<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>cms主页</title>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="http://mykrystal.com/static/cms/index.7a1bdb8.css">
    <link rel="stylesheet" href="http://mykrystal.com/static/code_editor/codemirror.css">
    <link rel="stylesheet" href="http://mykrystal.com/static/code_editor/monokai.css">
    <link rel="stylesheet" href="http://mykrystal.com/static/code_editor/foldgutter.css">
    <link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.css" rel="stylesheet">
    <script src="http://mykrystal.com/static/code_editor/codemirror.js"></script>
    <script src="http://mykrystal.com/static/code_editor/sublime.js"></script>
    <% include ../../lib/data.html %>
</head>
<body>
<div id="app"></div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://mykrystal.com/static/cms/vendor.d8bf9e5.js"></script>
<script type="text/javascript" src="http://mykrystal.com/static/cms/index.7a1bdb8.js"></script>

</body>
</html>
